version: '3'

services:
  web:
    build: 
      context: .
      dockerfile: Dockerfile
    container_name: news-web
    restart: unless-stopped
    ports:
      - "8081:80"
    volumes:
      - /home/docker/news-data:/var/www/html/data
      
    environment:
      - TZ=Asia/Ho_Chi_Minh
      - ADMIN_PASSWORD=MatKhauSieuKhoNho123  <-- THÊM DÒNG NÀY
