version: '3'

services:
  web:
    image: php:8.2-apache
    container_name: news-web
    restart: unless-stopped
    ports:
      - "8081:80"
    volumes:
      # ÁNH XẠ TRỰC TIẾP:
      # Bên trái: Đường dẫn thật trên máy Armbian (nơi bạn vừa tạo folder)
      # Bên phải: Đường dẫn trong web server
      - /home/docker/news-data:/var/www/html/data
      
    environment:
      - TZ=Asia/Ho_Chi_Minh

