version: '3'

services:
  web:
    # Thay dòng image bằng dòng build
    build: 
      context: .
      dockerfile: Dockerfile
    
    container_name: news-web
    restart: unless-stopped
    ports:
      - "8081:80"
    volumes:
      # CHỈ GIỮ LẠI DÒNG MAP DỮ LIỆU
      # Code đã được copy vào trong lúc Build rồi, nên không map code nữa
      # Chỉ map thư mục data ra ngoài để lưu bài viết không bị mất
      - /home/docker/news-data:/var/www/html/data
      
    environment:
      - TZ=Asia/Ho_Chi_Minh
